.header {
  gap: 1rem;
}

.header__title {
  color: var(--dark);
  font-family: var(--ff-playfair);
}

.header__paragraph {
  font-size: .85rem;
  line-height: 1.1rem;
  padding: 0 0 0 1rem;
  max-width: 30rem;
}