.intructions__container {
  gap: 1.6rem;
}

.intructions__step {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  background-color: var(--orange);
  border: none;
  cursor: auto;
  font-size: 1.4rem;
  font-family: var(--ff-playfair);
  font-weight: bold;
  padding: 0 0 .4rem 0;
  width: 2rem;
  height: 2rem;
}